<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.accurascan.accurasdk.sample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Accura Demo SDK"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:theme,android:label">
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".MenuActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="AccuraOCR"
            android:theme="@style/AppThemeActionBar"/>

        <activity android:name=".ActivityFaceMatch"
            android:label="@string/accura_face"
            android:theme="@style/FaceMatchTheme"/>

        <activity android:name="com.accurascan.facematch.ui.FaceMatchActivity"
            android:label="@string/accura_face"
            android:theme="@style/FaceMatchTheme"/>

        <activity android:name=".OcrActivity"
            android:label="AccuraOCR"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>

        <activity android:name=".OcrResultActivity"
            android:label="Accura OCR"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionBar"/>
    </application>
</manifest>